.btn {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #448347;
    box-shadow: inset 0 0 10px #e0d9d9;
}

.time {
    font-size: 30px;
    color: #4CAF50;
    margin: 3em;
}

span {
    color: #05722b;
}

.nav{
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    height: 100px;
}

.nav p {
   
    width: 3em;
    height: 1.5em;
    padding: 0 0.5em;
}



.nav a{
    padding: 10px 14px;
    text-decoration: none;
    background-color: rgb(20, 14, 14);
    color: #fff;
    border: 2px solid rgb(67, 66, 66);
    border-radius: 0.3em;
}

.nav a:hover{
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
}
