.btn {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #448347;
    box-shadow: inset 0 0 10px #e0d9d9;
}

.time {
    font-size: 30px;
    color: #4CAF50;
    margin: 3em;
}

span {
    color: #05722b;
}
