<!-- Pipes can also be chained, keep THE ORDER in MIND -->
<div>{{ user |json | uppercase }}</div>

<div>{{ user.list | reduce : sum : 0}}</div>

<button class="btn" (click)="addProperty()">Add Property</button>

<!-- p от тип async, изчаква самия promise да се резолвне -->
<div>Promise: {{ p | async }}</div>


<!-- Observable  time$ , simple Clock-->
<div class="time"><span>Clock:</span> {{ time$ | async | date : "hh:mm:ss"}}</div>

<hr>

<div class="nav">

    <p> <a routerLink="/">Home</a></p>
    <p> <a routerLink="/lazy">Lazy</a></p>


</div>



<router-outlet />